/* Limita altura del logo en login/logout */
.login-logo img {
    max-height: 100px;
    width: auto;
}

/* 🔧 Logo en el sidebar: evita que genere scroll */
.sidebar-logo {
    max-height: 40px;   /* o 30px si quieres aún más compacto */
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Mejora de tabla de líneas para evitar scroll horizontal */
fieldset.module.aligned table {
    table-layout: auto !important;
    width: 100% !important;
    overflow-x: auto;
    display: block;
}

.inline-group .tabular tr.form-row > td {
    white-space: normal !important;
    word-wrap: break-word;
}
